$bgColor: white;
$footCol: black;
$mainFont: impact;
$lineCol: solid black;
$fontCol: black;
$item1: url(/image/burger.png);
$fontGrey: rgb(74, 74, 74);
$fontRed: red;
$colAbout: rgba(193, 193, 193, 0.156);
$solWhite: solid white;
$fontPact: impact;
$textShadow: #0000009f;
$bgMenu: rgba(48, 48, 48, 0.121);
$boxShadow: rgba(0, 0, 0, 0.425);
$menuShadow: rgba(0,0,0, 0.9);
